{{!-- {
    reservations: [
        {
            reserveID:
            reserveUser:
            reserveEmail:
            passportNo:

            flight_go: [
                {
                    Airline:
                    flightNumber:
                    Origin:
                    Destination:
                    Departure Date:
                    Departure time:
                    Arrival Date:
                    Arrival time:
                    Price:
                    Aircraft Type:
                    Seat Capacity:
                }
            ]
            flight_return: [
                {
                    Airline:
                    flightNumber:
                    Origin:
                    Destination:
                    Departure Date:
                    Departure time:
                    Arrival Date:
                    Arrival time:
                    Price:
                    Aircraft Type:
                    Seat Capacity:
                }
            ]
            seatNo:
            extraBag:
            mealOption:
            status:
        },
        {
            reserveID:
            reserveUser:
            reserveEmail:
            passportNo:
            flight: [
                {
                    Airline:
                    flightNumber:
                    Origin:
                    Destination:
                    Departure Date:
                    Departure time:
                    Arrival Date:
                    Arrival time:
                    Price:
                    Aircraft Type:
                    Seat Capacity:
                }
            ]
            seatNo:
            extraBag:
            mealOption:
            status:
        },
    ],
} --}}

<h1 class="mb-2 text-center">Reservation List</h1>


{{#if reservations.length}}
<!-- Modal -->
<div class="modal fade" id="booking-details" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="BookingLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="BookingLabel">Booking Details</h1>
            </div>
            <div class="modal-body" id="booking-details-body">

                <div class="col-md-6 mb-3">
                    <div class="card booking-card" data-id={{this.reserveID}} style="cursor:pointer;">
                        <div class="card-body">
                            <h5 class="card-title">{{this.Origin}} ➝ {{this.Destination}}</h5>
                            <p class="card-text">Passenger: {{this.passenger}}</p>
                            <p class="card-text">Date: {{this.schedule}} {{this.departure}}</p>
                            
                            <a href="/reservations/{{this._id}}">
                                <button class="btn btn-primary btn-sm view-detail" data-id={{this.reserveID}}>View Details</button>
                            </a>
                            
                            <button class="btn btn-danger btn-sm cancel" data-id={{this.reserveID}}>Cancel</button>

                            
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Edit</button>


                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>
{{else}}
<p class="text-center text-muted">No reservations found.</p>
{{/if}}