<div class="card p-4">
    <h4 class="mb-4">Flights List</h4>
    <table class="table table-bordered table-striped text-center">
        <thead class="table-light">
            <tr>
                <th>Aircraft and Flight Number</th>
                <th>Origin and Destination</th>
                <th>Schedule</th>
                <th>Price</th>
                <th>Capacity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="flightTable">
        {{#each flights}}
        <tr>
            <td>{{aircraft}} {{flightNumber}}</td>
            <td>{{origin}} → {{destination}}</td>
            <td>{{daysOfWeek}}<br>{{departure}}<br>{{arrival}}</td>
            <td>{{price}}</td>
            <td>{{capacity}}</td>
            <td>
            <br>
            <a href="/manage-flights/edit/{{flightNumber}}" class="btn btn-primary">Edit Flight</a>
            <br>
            <a href="/manage-flights/delete-{{flightNumber}}" class="btn btn-danger">Delete Flight</a>
            <br>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
    {{!-- <script>
        //Function for bringing up confirmation message when deleting a flight
        // $("#delete-confirm").on("click", function() {
        //    $("deleteMsg").html(`
            <p><b>Are you sure you want to delete this flight?</b></p>
            <a href="/manage-flights/delete-{{flightNumber}}" id='delete-confirm' class="btn btn-danger">Delete Flight</a>
            <button id='back' class="btn btn-primary">Go Back</button>
            `);
        });

        //When clicking the back button, removes delete confirmation message
        $("#back").on("click", function() {
            $("deleteMsg").empty();
        });
    </script> --}}
</div>

<div style="text-align: center">
    <a href="/manage-flights/add" class="btn btn-success">Add a Flight</button>
</div>
