<div class="container mt-5">
    <p>Hello {{user.username}}!</p>

    <h4>Personal Information</h4>

    <!-- Full Name -->
    <div class="mb-3">
        <p style="display: inline;" id="firstName">{{user.firstName}}</p>
        <p style="display: inline;" id="middleName">{{user.middleName}}</p>
        <p style="display: inline;" id="lastName">{{user.lastName}}</p>
    </div>

    <div class="mb-3">
        <p id="email">{{user.email}}</p>
    </div>

    <div class="mb-3">
        <p id="phone">{{user.phone}}</p>
    </div>

    <br>
    <h4>Account Details</h4>

    <div class="mb-3">
        <p id="username">{{user.username}}</p>
    </div>

    <div class="mb-3">
        <a href="/edit-profile/{{user.username}}" class="btn btn-primary">Edit Profile</a>
        <a href="/logout" class="btn btn-danger">Logout</a>
        <a href="/reservations/my-bookings" class="btn btn-primary">Go to <b>Reservation List</b></a>
        {{#if user.isAdmin}} <!-- If true, show admin settings -->
        <a href="/profile-list" class="btn btn-warning"><b>Manage Users</b></a>
        <a href="/manage-flights" class="btn btn-warning"><b>Manage Flights</b></a>
        <a href="/reservations/my-bookings" class="btn btn-warning"><b>Manage Reservations</b></a>
        {{/if}}
    </div>
</div>
